option_settings:
  aws:elasticbeanstalk:container:docker:
    ComposeFile: docker-compose.yml
  aws:elasticbeanstalk:application:environment:
    SPRING_DATASOURCE_URL: "jdbc:mysql://task-management-db.cknw6is8qybw.us-east-1.rds.amazonaws.com:3306/task_management"
    SPRING_DATASOURCE_USERNAME: "admin"
    SPRING_DATASOURCE_PASSWORD: "MySecurePass123"
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80